# AirBnB Data Analysis Project

This is a capstone project for the Code:You Data Analysis course. This project 
will analyze Airbnb data to uncover useful correlations/trends and guide 
decision making in investing in STR properties.

## Project Goal

**Determine the optimal location and house size for a short term rental investment 
property in Seattle.**

The end result of this project is to classify properties in terms of STR 
Performance vs. Purchase Price:
- High STR Performance, Low Purchase Price
- High STR Performance, High Purchase Price
- Low STR Performance, Low Purchase Price
- Low STR Perormance, High Purchase Price

This will allow us to narrow our search for an investment proprety to the 
neighborhoods and house size that are most likely to be profitable.

In this data discovery notebook, I will:
1. Research key metrics for Short Term Rentals.
1. Research the Seattle housing market.
1. Determine data needed to support.
1. Review available data.
1. Identify the type of analysis that can be done and list the questions that 
can be answered.
1. List the cleaning steps that will be needed.

## 1. Short Term Rental Metrics Research

A quick google search gives us some of the key metrics used to evaluate the 
financial performance of a short term rental property. NOI and RPP appear to be
most related to our goal of finding a good investment property.

> **Net operating income (NOI)** is another key Airbnb metric for Airbnb hosts to evaluate the profitability of their listing. NOI measures the total revenue generated by a property from all sources and subtracts operating expenses, including management, maintenance, and cleaning fees. Hosts can use NOI to accurately determine their net profit and make informed decisions about pricing strategy, cost-saving measures, or investing in property improvements. By focusing on maximizing their NOI, hosts can drive profitability on the Airbnb platform and make sure they achieve sustainable success. Therefore, tracking NOI is an essential factor for any host looking to optimize their financial performance and grow their vacation rental business.

In order to calculate Net Operating Income, we will need to determine the monthly revenue, monthly mortgage payment, and the property management fee. We can use estimates for the mortgage rate and property management. We can calculte the monthly revenue using the nightly rate and the occupancy %.

NOI = (Nightly Rate * Days Occupied) - (Management Fee % * (Nightly Rate * Days Occupied) - Mortgage

> **Revenue per property (RPP)** calculates the total earnings generated by a property within a defined timeframe. Monitoring RPP allows hosts to discern which listings are the highest revenue generators, enabling them to fine-tune pricing and marketing strategies accordingly. Furthermore, RPP aids hosts in assessing the financial feasibility of investing in new properties or enhancing existing ones. By optimizing RPP, hosts can enhance operational efficiency on Airbnb and thrive in the fiercely competitive vacation rental market. Tracking RPP becomes a pivotal aspect for hosts seeking to maximize financial performance and expand their business endeavors.

We can calculate the Revenue per Property by using the nightly rate and the occupancy.

Revenue Per Property = Nightly Rate * # Days Occupied

Sources: Short Term Rental KPIs

- [Key STR Metrics](https://hostify.com/blog/key-airbnb-performance-metrics-hosts-should-track)

## 2. Seattle Real Estate Market Research 

In order to determine the best location and size of house to buy for a short
term rental, we will need a way to compare the relative price of different
properties. A quick google search yielded house prices for the Seattle Market 
broken down by neighborhood and number of bedrooms.


### House Sale Price by Neighborhood

In [1]:
import pandas as pd

cost_by_neighborhood = pd.read_csv("../data/raw/Home_Cost_By_Neighborhood.csv")
cost_by_neighborhood

,Map Area,"New Listings, Year-to-Date","Closed Sales, Year-to-Date","Median Price, Year-to-Date","Average Price, Year-to-Date","Closed Sales, 2020","Median Price, 2020","Average Price, 2020","Closed Sales, 2019","Median Price, 2019","Average Price, 2019"
0,Auburn,704,569,"$500,000","$525,549","1,061","$444,000","$460,390","1,033","$389,000","$407,634"
1,Ballard/Greenlake,"2,125","1,635","$819,000","$878,551","2,841","$760,000","$822,142","2,506","$732,500","$779,080"
2,Bellevue–East of 405,779,575,"$1,035,000","$1,136,090","1,073","$900,000","$1,003,748","1,135","$822,990","$894,374"
3,Bellevue–West of 405,460,357,"$1,610,000","$2,167,968",684,"$1,658,700","$2,193,345",621,"$1,523,000","$2,084,935"
4,Belltown/Downtown,561,366,"$635,000","$748,508",444,"$650,000","$828,902",474,"$640,000","$849,400"
5,Black Diamond/Maple Valley,"1,003",788,"$685,250","$716,533","1,601","$557,000","$586,994","1,375","$489,000","$516,151"
6,Burien/Normandy Park,854,721,"$549,000","$597,393","1,377","$495,000","$532,649","1,328","$450,000","$500,085"
7,Central Seattle,"1,492","1,018","$810,000","$1,063,344","1,597","$800,000","$994,708","1,445","$757,000","$932,492"
8,Dash Point/Federal Way,687,570,"$500,000","$500,251","1,059","$430,000","$440,679","1,155","$396,000","$404,595"
9,Des Moines/Redondo,442,395,"$510,000","$519,573",929,"$445,000","$457,601",782,"$383,500","$387,942"
10,East of Lake Sammamish,"1,640","1,310","$1,088,000","$1,158,773","2,423","$898,637","$952,005","2,462","$826,000","$877,393"
11,East Side–South of I-90,833,638,"$1,150,000","$1,278,871","1,374","$900,000","$1,000,154","1,263","$832,000","$940,779"
12,Enumclaw,270,214,"$525,000","$607,181",499,"$464,900","$509,838",453,"$424,900","$473,865"
13,Jovita/West Hill,336,275,"$578,604","$591,155",618,"$480,000","$488,817",614,"$431,375","$459,289"
14,Juanita/Woodinville,"1,464","1,169","$900,000","$984,951","2,201","$770,000","$839,941","2,287","$700,000","$775,985"
15,Kent,"1,087",859,"$560,000","$557,093","1,584","$475,000","$478,185","1,460","$430,000","$433,721"
16,Kirkland/Bridle Trails,836,662,"$1,347,000","$1,506,420","1,174","$1,135,000","$1,300,258","1,009","$1,000,000","$1,183,655"
17,Lake Forest Park,363,310,"$758,000","$801,755",589,"$650,000","$681,519",593,"$609,500","$647,703"
18,Mercer Island,257,191,"$1,865,000","$2,007,471",375,"$1,599,000","$1,859,033",343,"$1,506,200","$1,807,002"
19,North Seattle,"1,080",846,"$865,500","$995,118","1,472","$800,000","$934,145","1,320","$740,000","$854,153"
20,Queen Anne/Magnolia,"1,063",818,"$921,250","$1,075,832","1,209","$895,000","$1,023,393","1,116","$833,500","$969,366"
21,Redmond/Carnation,615,459,"$990,000","$1,179,390",793,"$840,000","$929,405",780,"$798,000","$872,609"
22,Renton-Benson Hill,648,553,"$600,000","$597,576","1,130","$515,000","$511,191","1,242","$485,000","$495,858"
23,Renton-Highlands,646,508,"$739,500","$800,667",911,"$610,000","$660,689",971,"$560,000","$596,416"
24,Richmond Beach/Shoreline,375,272,"$735,750","$816,646",570,"$654,000","$725,198",529,"$610,000","$680,157"
25,Skyway Area,240,170,"$579,995","$606,864",363,"$504,922","$506,233",311,"$461,000","$473,430"
26,SODO/Beacon Hill,437,325,"$669,950","$702,304",531,"$635,000","$650,196",466,"$598,500","$610,983"
27,Southeast Seattle,507,372,"$720,000","$836,167",731,"$671,000","$759,663",634,"$627,500","$757,231"
28,Vashon Island,77,61,"$760,000","$960,399",154,"$699,250","$777,522",168,"$621,750","$676,840"
29,West Seattle,"1,502","1,199","$690,000","$792,379","1,945","$655,000","$726,604","1,880","$629,250","$679,560"

### House Sale Price by Number of Bedrooms

In [2]:
import pandas as pd

cost_by_bedrooms = pd.read_csv("../data/raw/Home_Cost_by_Bedrooms.csv")
cost_by_bedrooms

,Bedrooms,Average Size (sf),Median Sale Price,Price Difference,Price / sf,Number of sales
0,1,NaN,"$678,667","-$221,333",NaN,NaN
1,2,1321.0,"$900,000","-$212,000",681.0,77.0
2,3,1906.0,"$1,112,000","$212,000",583.0,193.0
3,4,2420.0,"$1,402,500","$290,000",579.0,110.0
4,5 or more,2930.0,"$1,565,000","$162,000",534.0,51.0

**Sources** 

Seattle Real Estate Market Data

- [Home Price by Neighborhood](https://www.seattlemet.com/home-and-real-estate/how-much-do-homes-cost-in-seattle-area-neighborhoods-real-estate)
- [Home Price by Number of Bedrooms](https://www.myseattlehomesearch.com/blog/seattle-house-prices-versus-the-number-of-bedrooms/#:~:text=Not%20shown%20in%20the%20data,just%2012%25%20of%20the%20market.)

## 3. Data Needed To Support Topic

Housing Market
- Sales Price 
- number of bedrooms
- square footage
- location

AirBnB Data
- number / percent of booked days 
- number of bedrooms
- square footage
- location
- nightly rate

Other (Needed for NOI calculations)
- Mortgage rate - we can use 7.5% and adjust if needed
- STR management fee - we can use 10%

## 4. Data Discovery - Kaggle AirBnB Data

The next step is to see what data is available in the Kaggle data set.

Sources:
- [Kaggle Seattle Listing Data Set](https://www.kaggle.com/datasets/airbnb/seattle)


There are three primary data sets available from the Kaggle data.
- AirBnB Listings
- AirBnB Reviews
- AirBnB Calendar

### Listings

The listings data set contains AirBnB listings from Seattle, Washington. To 
start off the analysis we will load and preview the listings data.

In [3]:
import pandas as pd

listings = pd.read_excel("../data/raw/Tableau Full Project.xlsx", sheet_name=0)
listings

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,https://www.airbnb.com/rooms/8101950,20160104002432,2016-01-04,3BR Mountain View House in Seattle,Our 3BR/2BA house boasts incredible views of t...,"Our 3BR/2BA house bright, stylish, and wheelch...",Our 3BR/2BA house boasts incredible views of t...,none,We're located near lots of family fun. Woodlan...,...,8.0,f,NaN,WASHINGTON,f,strict,f,f,8,0.30
3814,8902327,https://www.airbnb.com/rooms/8902327,20160104002432,2016-01-04,Portage Bay View!-One Bedroom Apt,800 square foot 1 bedroom basement apartment w...,This space has a great view of Portage Bay wit...,800 square foot 1 bedroom basement apartment w...,none,The neighborhood is a quiet oasis that is clos...,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,2.00
3815,10267360,https://www.airbnb.com/rooms/10267360,20160104002432,2016-01-04,Private apartment view of Lake WA,"Very comfortable lower unit. Quiet, charming m...",NaN,"Very comfortable lower unit. Quiet, charming m...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3816,9604740,https://www.airbnb.com/rooms/9604740,20160104002432,2016-01-04,Amazing View with Modern Comfort!,Cozy studio condo in the heart on Madison Park...,Fully furnished unit to accommodate most needs...,Cozy studio condo in the heart on Madison Park...,none,Madison Park offers a peaceful slow pace upsca...,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3817,10208623,https://www.airbnb.com/rooms/10208623,20160104002432,2016-01-04,Large Lakefront Apartment,"All hardwood floors, fireplace, 65"" TV with Xb...",NaN,"All hardwood floors, fireplace, 65"" TV with Xb...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN

In [4]:
listings.shape

(3818, 92)

There are 3,818 AirBnB listings included in the data. Each listing has 92 attributes.

Next we will look at the list of attributes available.

In [5]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   datetime64[ns]
 4   name                              3818 non-null   object
 5   summary                           3639 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2206 non-null   object
 11  transit                           2883 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   datetime64[ns]
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   float64
 24  host_acceptance_rate              3045 non-null   float64
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   int64
 58  weekly_price                      2009 non-null   float64
 59  monthly_price                     1517 non-null   float64
 60  security_deposit                  1866 non-null   float64
 61  cleaning_fee                      2788 non-null   float64
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   int64
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   datetime64[ns]
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   datetime64[ns]
 75  last_review                       3191 non-null   datetime64[ns]
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: datetime64[ns](5), float64(23), int64(15), object(49)
memory usage: 2.7+ MB

**Numeric Fields**

In [6]:
listings.describe()

,id,scrape_id,last_scraped,host_id,host_since,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3818,3.818000e+03,3816,3295.000000,3045.000000,3816.000000,3816.000000,3818.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,2016-01-04 00:00:00.000000256,1.578556e+07,2013-09-18 17:26:02.264151040,0.948868,0.999672,7.157757,7.157757,47.628961,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
min,3.335000e+03,2.016010e+13,2016-01-04 00:00:00,4.193000e+03,2008-11-10 00:00:00,0.170000,0.000000,1.000000,1.000000,47.505088,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,2016-01-04 00:00:00,3.275204e+06,2012-08-17 00:00:00,0.980000,1.000000,1.000000,1.000000,47.609418,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,2016-01-04 00:00:00,1.055814e+07,2013-12-12 12:00:00,1.000000,1.000000,1.000000,1.000000,47.623601,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2016-01-04 00:00:00,2.590309e+07,2015-01-14 00:00:00,1.000000,1.000000,3.000000,3.000000,47.662694,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,2016-01-04 00:00:00,5.320861e+07,2016-01-03 00:00:00,1.000000,1.000000,502.000000,502.000000,47.733358,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000
std,2.962660e+06,0.000000e+00,NaN,1.458382e+07,NaN,0.118667,0.018122,28.628149,28.628149,0.043052,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348

In [7]:
listings.price.describe()

count    3818.000000
mean      127.976166
std        90.250022
min        20.000000
25%        75.000000
50%       100.000000
75%       150.000000
max      1000.000000
Name: price, dtype: float64

All of the listings have a price. Prices range from $20 - $1000 with the average being $127.98.

In [8]:
listings.bedrooms.describe()

count    3812.000000
mean        1.307712
std         0.883395
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         7.000000
Name: bedrooms, dtype: float64

It looks like all but 6 of the listings records have data for the number of bedrooms.

In [9]:
listings.square_feet.describe()

count      97.000000
mean      854.618557
std       671.404893
min         0.000000
25%       420.000000
50%       750.000000
75%      1200.000000
max      3000.000000
Name: square_feet, dtype: float64

Only 97 records have square footage data. Based on this it looks like we will have to use the number of bedrooms as a proxy for house size.

In [16]:
listings.availability_30.describe()

count    3818.000000
mean       16.786276
std        12.173637
min         0.000000
25%         2.000000
50%        20.000000
75%        30.000000
max        30.000000
Name: availability_30, dtype: float64

All of the listings have availability data. If we assume that this is just tracking nights booked and does not include maintenance or other non-booked nights, we should be able ot use this to get the occupancy %.

**Categorical Fields**

In [10]:
listings.neighbourhood_group_cleansed.unique()

array(['Queen Anne', 'Ballard', 'Other neighborhoods', 'Cascade',
       'Central Area', 'University District', 'Downtown', 'Magnolia',
       'West Seattle', 'Interbay', 'Beacon Hill', 'Rainier Valley',
       'Delridge', 'Seward Park', 'Northgate', 'Capitol Hill',
       'Lake City'], dtype=object)

In [11]:
listings.neighbourhood_group_cleansed.value_counts()

neighbourhood_group_cleansed
Other neighborhoods    794
Capitol Hill           567
Downtown               530
Central Area           369
Queen Anne             295
Ballard                230
West Seattle           203
Rainier Valley         159
University District    122
Beacon Hill            118
Cascade                 89
Northgate               80
Delridge                79
Lake City               67
Magnolia                61
Seward Park             44
Interbay                11
Name: count, dtype: int64

Since both the AirBnB data and the real estate market data have neighborhood, we can use this as a proxy for location.

In [12]:
listings.property_type.unique()

array(['Apartment', 'House', 'Cabin', 'Condominium', 'Camper/RV',
       'Bungalow', 'Townhouse', 'Loft', 'Boat', 'Bed & Breakfast',
       'Other', 'Dorm', 'Treehouse', 'Yurt', 'Chalet', 'Tent', nan],
      dtype=object)

In [13]:
listings.property_type.value_counts()

property_type
House              1733
Apartment          1708
Townhouse           118
Condominium          91
Loft                 40
Bed & Breakfast      37
Other                22
Cabin                21
Camper/RV            13
Bungalow             13
Boat                  8
Tent                  5
Treehouse             3
Dorm                  2
Chalet                2
Yurt                  1
Name: count, dtype: int64

In [14]:
listings.room_type.unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

We will want to use room_type to filter out anything that isn't an 'Entire home/apt'.

In [15]:
listings.room_type.value_counts()

room_type
Entire home/apt    2541
Private room       1160
Shared room         117
Name: count, dtype: int64

It looks like the AirBnB data is going to have the fields needed to answer the 
investment questions.

## 5. Questions that can be answered

The purpose of this project is to analyze AirBnB data to determine the most 
attractive attributes of a short term rental investment.


- Is an Air BnB in seattle a good investment?
- Are there any cabins in a specific neighborhood?
- How much profit can we get from an investment?
- Do properties with lower fees get higher reviews?
- Which locations have the most available purchases compared to common travel spots?
- Where is the cheapest AirBnB near the Seattle Seahawks stadium?
- What kind of properties get booked the most?

## 6. Cleaning Needed

### Remove Columns

**AirBnB Listings Fields to Keep and Clean**

- id
- name
- street
- neighbourhood 
- neighbourhood_cleansed 
- neighbourhood_group_cleansed 
- property_type
- room_type
- accommodates
- bathrooms
- bedrooms
- beds  
- bed_type
- square_feet
- price
- weekly_price
- monthly_price
- calendar_updated
- has_availability
- availability_30
- availability_60
- availability_90
- availability_365
- calendar_last_scraped

**cost by neighborhood Fields to keep and clean**
- remove "2019" and "YTD" columns

**cost by bedrooms fields to keep and clean**
- Keep the # of Bedrooms and Median Price fields


### Rename Columns

**AirBnB listings**
- No renaming needed

**cost_by_neighborhood**
- Rename "2020" colums to use underscore and no caps

**cost by bedrooms**
- Rename the columns to be lowerase with underscores

### Filter Rows

**AirBnB listings**
- Only keep the rows where room_type = "Entire home/apt"
- Remove rows where bedrooms is blank

**cost by neighborhood**
- remove rows where neighborhood doesn't match AirBnB data

### Create Calculated Fields

**AirBnB listings**
- Create NOI field
- Create RPP field

### Combine datasets

Combine the cost by neighborhood and bost by bedrooms into one dataset